<form method="post" action="{{ path('app_rassemeblement_delete', {'id': rassemeblement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rassemeblement.id) }}">
    <button class="btn">Delete</button>
</form>
