<form method="post" action="{{ path('app_cnss_delete', {'id': cnss.id}) }}" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cnss.id) }}">
    <button type="button" class="btn btn-danger btn-delete">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>