<form method="post" action="{{ path('app_fonction_bureau_delete', {'id': fonction_bureau.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction_bureau.id) }}">
    <button class="btn">Delete</button>
</form>
