{% extends 'base.html.twig' %}

{% block title %}New TypePapier{% endblock %}

{% block body %}
    <h1>Create new TypePapier</h1>

    {{ include('type_papier/_form.html.twig') }}

    <a href="{{ path('app_type_papier_index') }}">back to list</a>
{% endblock %}
