
<form method="post" action="{{ path('app_personne_delete', {'id': personne.id}) }}" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.id) }}">
    <button type="button" class="btn btn-danger btn-delete">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>