{% extends 'base.html.twig' %}

{% block title %}New TypeRassmblement{% endblock %}

{% block body %}
    <h1>Create new TypeRassmblement</h1>

    {{ include('type_rassmblement/_form.html.twig') }}

    <a href="{{ path('app_type_rassmblement_index') }}">back to list</a>
{% endblock %}
