{% extends 'base.html.twig' %}

{% block title %}New StatusBureau{% endblock %}

{% block body %}
    <h1>Create new StatusBureau</h1>

    {{ include('status_bureau/_form.html.twig') }}

    <a href="{{ path('app_status_bureau_index') }}">back to list</a>
{% endblock %}
