<form method="post" action="{{ path('app_fonction_employe_delete', {'id': fonction_employe.id}) }}" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction_employe.id) }}">
    <button type="button" class="btn btn-danger btn-delete">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>